@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Libre+Barcode+EAN13+Text&display=swap");

.barcode {
  font-family: "Libre Barcode 39", cursive;
  font-family: "Libre Barcode EAN13 Text", cursive;
}

.Polaris-Card__Section {
  margin: 10px auto;
}

.list__item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
  &__icon {
    position: absolute;
    right: 0;
  }
}
